* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cabecalhoListagem {
  background-color: rgb(130, 208, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.profileListagem {
  width: 4%;
  margin: 0 35px 0 0;
}

.tituloListagem {
  font-size: 17pt;
  font-weight: 700;
}

.containerBotao {
  display: flex;
}

.botaoCadastrar {
  padding: 10px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 1em;
}

a {
  color: #fff;
  text-decoration: none;
}

.containerTabela {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  background-color: rgba(152, 158, 165, 0.849);
  opacity: 50%;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

.containerTabela input {
  width: 70%;
}

.modalCadastro {
  position: absolute;
  width: 50%;
  margin: 0 auto;
  height: 80;
  z-index: 99;
}

menu {
  width: 100%;
}

.containerTitulo {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

form {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5em;
}

.containerInputs {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.containerRadios {
  flex-direction: row;
}

.labelSexo {
  font-weight: 500;
}

label {
  font-weight: bold;
}

.botaoCadastrarModal {
  display: block;
  margin: 30px auto 0 auto;
  padding: 10px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.botaoCadastrarModal:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#cancel:hover {
  transform: scale(1.1);
}

table {
  border: solid 1px #000;
  border-collapse: collapse;
  width: 70%;
  margin: 1em;
}

th,
td {
  padding: 0.5em;
  margin: 0.5em;
  text-align: center;
}

th {
  background-color: rgb(130, 208, 241);
}

.botaoEditar,
.botaoExcluir {
  background-color: #82d0f1;
  border: transparent;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 5px;
}

.imagemEditar,
.imagemExcluir {
  width: 30px;
  height: 28px;
  display: block;
  margin: 0 auto;
}

tfoot {
  background-color: rgb(130, 208, 241);
  font-weight: bold;
  width: 100%;
}

tfoot td {
  padding: 0.5em;
  text-align: right;
}
